.select_mode{
	
	background-color: #baadad;
	pointer-events: none;
	cursor: default;
}

.not_select{
	
	background-color:inherit;
}

li{
	
	display:block;
}

ul ul{
	/*background: red;*/
	margin-left: 0px;
	padding-left: 0px;
}
.head_btn{
	margin: 5px;
	border: 1px solid #ddd;
}

.sec_btn{
	/*background: #d1d1d1;*/
	margin: 5px;
}

.sec_btn:hover{
	/*background: #949c90;*/
	cursor: pointer;
}
