<!-- ********************* Single page applications Smooth scroll menu available ************************* -->
   
  <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
          </button>
          <a class="navbar-brand hidden-xs hidden-sm" href="#homepage"><span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a ng-click="scrollTo('homepage')" smooth-scroll target="homepage">Home</a></li>
            <li> <a ng-click="scrollTo('about')" smooth-scroll target="about"> About</a></li>
            <li> <a ng-click="scrollTo('services')" smooth-scroll target="services"> Services</a></li>
           <li> <a ng-click="scrollTo('team')" smooth-scroll target="team">Team</a></li>
           <li> <a ng-click="scrollTo('portfolio')" smooth-scroll target="portfolio"> Portfolio</a></li>
            <li> <a ng-click="scrollTo('blog')" smooth-scroll target="blog"> Blog</a></li>
           <li> <a ng-click="scrollTo('contact')" smooth-scroll target="contact"> Contact</a></li>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>